.building {
  position: relative;
  img {
    width: 100%;
  }
  .about-buld {
    position: absolute;
    line-height: 3;
    text-align: center;
    bottom: 70px;
    left: 246px;
    width: 212px;
    font-size: 18px;
    height: 56px;
    background-color: #ffffff;
    @media (max-width: 768px) {
      display: none;
    }
  }
  button {
    position: absolute;
    left: 458px;
    bottom: 70px;
    width: 146px;
    height: 56px;
    background-color: #48974c;
    color: #fff;
    text-transform: uppercase;
    border: none;
    @media (max-width: 992px) {
      display: none;
    }
  }
}
